<v-toolbar dense height="30">
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <v-btn icon small to="/projects" v-on="on">
        <v-icon small>{{ $vuetify.icons.home }}</v-icon>
      </v-btn>
    </template>
    <span>Home</span>
  </v-tooltip>

  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        small
        :to="`/project/view/${projectId}`"
        v-on="on"
        v-show="!!projectId"
      >
        <v-icon small
          >{{ $vuetify.icons[project.type] || $vuetify.icons.project }}</v-icon
        >
      </v-btn>
    </template>
    <span>Go to project <i>{{ project.name }}</i> view</span>
  </v-tooltip>

  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <v-btn
        icon
        small
        :to="`/simulation/view/${simulationId}`"
        v-show="!!simulationId"
        v-on="on"
      >
        <v-icon small>{{ $vuetify.icons.simulation }}</v-icon>
      </v-btn>
    </template>
    <span>Go to simulation view</span>
  </v-tooltip>

  <label class="ml-2">{{ title }}</label>

  <v-spacer />

  <v-stepper v-if="steps.length" v-model="activeIndex" :class="$style.steps">
    <v-stepper-step
      v-for="(step, idx) in steps"
      :key="`${idx + 1}-step`"
      :step="idx + 1"
      :edit-icon="$vuetify.icons.hpccloud.editStep"
      :editable="idx + 1 < activeIndex"
      :class="$style.step"
      >{{ step }}</v-stepper-step
    >
  </v-stepper>

  <v-spacer />
  <v-btn
    v-if="hasNew"
    icon
    small
    @click="createNewItem"
  >
    <v-icon small>{{ $vuetify.icons.new }}</v-icon>
  </v-btn>
</v-toolbar>
