.fillHeight {
    height: calc(100vh - 48px - 30px - 48px);
    max-height: calc(100vh - 48px - 30px - 48px - 48px);
}

.container {
  composes: fillHeight;
  overflow: hidden;
}

.menu {
  position: relative;
  width: 300px;
  border-right: solid 1px #ccc;
}

.content {

  position: relative;
  overflow: auto;
  composes: fillHeight;
}
