<v-data-table
  :headers="headers"
  :items="items"
  :pagination.sync="tableOptions"
  dense
>
  <template v-slot:items="props">
    <td :data-id="props.item.id" @click="view" style="cursor: pointer;">
      <v-icon small>{{ $vuetify.icons[props.item.type] }}</v-icon>
      {{ $vuetify.icons[props.item.type] }}
      {{ props.item.name }}
    </td>
    <td class="text-xs-center">
      {{ getRelativeTimeLabel(props.item.modified) }}
    </td>
    <td class="text-xs-center">{{ props.item.summary }}</td>
    <td class="text-xs-right">{{ props.item.actions }}</td>
  </template>
</v-data-table>
